.idea/.name
.idea/encodings.xml
.idea/fconsetdetection.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
annotations/
detection_functions/
spectrograms/
audio/
results/
