.idea/.name
.idea/encodings.xml
.idea/fconsetdetection.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
annotations/NSDNS_20110902_192900_high_and_low.txt
detection_functions/NSDNS_20110902_192900_streaming_prob.npy
